<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Photo Album</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body>
	<form th:object="${category}" method="POST">
		<label for="name">
			Name
		</label>
		<input type="text" id="name" th:field="*{name}">
		<div
		th:each="photo : ${photos}"
		th:object="${photo}"
		>
		<input
		type="checkbox"
		th:id="${'photo-' + photo.id}"
		th:value="*{id}"
		th:field="${category.photos}"
		>
		<label th:for="${'photo-'+photo.id}">[[*{name}]]</label>
			
		</div> 
		<button type="submit">Add</button>
	</form>
</body>

</html>