<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pizzeria</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body>
	<form th:object="${photo}" method="POST">
		<div>
			<label for="title">Photo Title</label>
			<input type="text" name="title" th:field="*{title}" required maxlength="30" />

			<label for="description" maxlength="500">Photo Description</label>
			<textarea name="description" id="description" th:field="*{description}" required> </textarea>

			<label for="url" maxlength="250">Photo URL</label>
			<input type="text" name="url" th:field="*{url}" id="url" required />
			
			<div sec:authorize="hasAuthority('USER')" th:if="${!photo.hidden}">
			<label for="visible">Do you want to show your photo?</label>
			<input type="checkbox" name="visible" th:field="*{visible}" id="visible" />
			</div>
			
			<div sec:authorize="hasAuthority('ADMIN')">
			<label for="visible">Do you want to show your photo?</label>
			<input type="checkbox" name="visible" th:field="*{visible}" id="visible" />
			</div>

			<button type="submit" value="EDIT"> Send </button>

			<h5>Categories</h5>
			<div th:each="category : ${categories}" th:object="${category}">
				<input type="checkbox" th:id="${'category-' + category.id}" th:value="*{id}"
					th:field="${photo.categories}">
				<label th:for="${'category-' + category.id}">[[*{name}]]</label>
			</div>
		</div>
	</form>
</body>

</html>