
	<header>
		<div class="d-flex align-items-center">
			<div class="profile_image">
				<img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="io">
			</div>
			<div class="profile_info">
				<div class="user_name">
					<h4>utente</h4>
				</div>
				<div class="user_data d-flex gap-5">
					<div><span><strong>234</strong></span> <span>post</span></div>
					<div><span><strong>810</strong></span> <span>follower</span></div>
					<div><span><strong>1002</strong></span> <span>following</span></div>
				</div>
				<div class="description">
					<div class="description_name mt-2">
						<h5>Giuseppe Vignanello</h5>
						<p>Junior Web Developer FullStack</p>
					</div>
				</div>
			</div>
		</div>
	</header>
