<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Photo Album</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body>
	<a href="/categories"> See all the categories</a>
	<a href="/create"> Add new photo </a>
	<form>
		<label for="title">Search a photo</label>
		<input type="text" name="title">
		<button type="submit">Search</button>
	</form>
	<ul>
		<li th:each="photo: ${photos}">
			<a th:href="@{'/' + ${photo.id}}">
				<h2>[[${photo.title}]]</h2>
			</a>
			<a th:href="@{'/edit/' + ${photo.id}}"> Edit</a>
			<form th:action="@{'/delete/' + ${photo.id}}" method="post">
				<input type="submit" value="DELETE" >
			</form>
		</li>
	</ul>
</body>

</html>