<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Photo Album</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body>
	<h1>Photo Details</h1>
	<div class="d-flex justify-content-center">
    <div class="card">
        <h2>Title: <span th:text="${photo.title}"></span></h2>
        <img style="width: 200px;" th:src="${photo.url}">
        <p>Description: <span th:text="${photo.description}"></span></p>
        
		<h5>Categories</h5>
		<ul>
			<li class="d-flex gap-2" th:each="category : *{categories}" th:object="${category}">
				<p>[[*{title}]]</p>
			</li>
		</ul>
    </div>
    </div>
</body>

</html>